/configure router "Base" autonomous-system {{ bgp_as }}
/configure router "Base" bgp router-id {{ bgp_router_id }}
/configure router "Base" bgp group "{{ customer_bgp_peer_group }}" type external
/configure router "Base" bgp group "{{ customer_bgp_peer_group }}" peer-as {{ customer_bgp_as }}
{%- if customer_bgp_afi_ipv4 %}
/configure router "Base" bgp group "{{ customer_bgp_peer_group }}" family ipv4 true
{%- endif %}
{%- if customer_bgp_afi_ipv6 %}
/configure router "Base" bgp group "{{ customer_bgp_peer_group }}" family ipv6 true
{%- endif %}
/configure router "Base" bgp neighbor "{{ customer_bgp_neighbor_ip }}" group "{{ customer_bgp_peer_group }}"
